<a href="https://colab.research.google.com/github/Chactidae/system-pr/blob/main/%D0%A6%D0%B8%D1%84%D1%80%D0%BE%D0%B2%D0%B0%D1%8F_%D0%BA%D0%B0%D1%84%D0%B5%D0%B4%D1%80%D0%B0(1_%D0%B7%D0%B0%D0%BD%D1%8F%D1%82%D0%B8%D0%B5).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import os

for dirpath, _, filenames in os.walk('/content/'):
  for filename in filenames:
    print(os.path.join(dirpath, filename))

In [10]:
!ls

 sample_data	'test (2).csv'	'train (1).csv'
'test (1).csv'	 test.csv	 train.csv

In [11]:
!ls /content/sample_data/

anscombe.json		      mnist_test.csv
california_housing_test.csv   mnist_train_small.csv
california_housing_train.csv  README.md

In [12]:
type(uploaded['test.csv'])

bytes

In [14]:
uploaded_str = uploaded['test.csv'].decode()
print(type(uploaded_str))
print(uploaded_str[:35])

<class 'str'>
PassengerId,Pclass,Name,Sex,Age,Sib

In [15]:
uploaded_list = uploaded_str.split('\r\n')
type(uploaded_list)

list

In [16]:
for i, line in enumerate(uploaded_list):
  print(line)
  if i == 3:
    break

PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,,Q
893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47,1,0,363272,7,,S
894,2,"Myles, Mr. Thomas Francis",male,62,0,0,240276,9.6875,,Q

In [18]:
f1 = open('/content/train.csv', 'r')
print(f1.read(142))
f1.close()

PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.25,,S

In [19]:
f2 = open('/content/train.csv', 'r')
for i, line in enumerate(f2):
  print(line.strip())
  if i == 3:
    break
f2.close()

PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.25,,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.925,,S

In [21]:
# скажем Питону: "открой файл и назови его f3"
with open('/content/test.csv', 'r') as f3:
# "пройдись по строкам без служебных символов"
  for i, line in enumerate(f3):
    print(line.strip())
    if i == 3:
      break

PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,,Q
893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47,1,0,363272,7,,S
894,2,"Myles, Mr. Thomas Francis",male,62,0,0,240276,9.6875,,Q

In [23]:
# Чтение через библиотеку Pandas
import pandas as pd

# применим функцию read_csv() и посмотрим на первые три
train = pd.read_csv('/content/train.csv')
train.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [24]:
# сделаем то же самое с файлом test.csv
test = pd.read_csv('/content/test.csv')
test.head(3)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q

In [ ]:
# Этап 3
# Шаг 1
train.info()

In [ ]:
# Проведем несложный визуальный анализ данных.
import seaborn as sns
# посмотрим насколько значим класс билета для выживания пассажира
# с помощью x и hue мы можем уместить две категориальные переменные на одном графике

sns.countplot(x = 'Pclass', hue = 'Survived', data =
train)

In [ ]:
# кто выживал чаще, мужчины или женщины?
sns.countplot(x = 'Sex', hue = 'Survived', data =
train)

In [ ]:
# выявим пропущенные значения с помощью .isnull() и посчитаем их количество sum()
train.isnull().sum()

In [30]:
# переменная Cabin (номер каюты), скорее всего, не является самой важной
# избавимся от нее с помощью метода .drop()
# (параметр axis отвечает за столбцы, inplace = True сохраняет изменения)
train.drop(columns = 'Cabin', axis = 1, inplace =
True)

In [31]:
# а вот Age (возраст) точно важен, заменим пустые значения средним арифметическим
train['Age'].fillna(train['Age'].mean(), inplace =
True)

In [33]:
# у нас остаются две пустые строки в Embarked, удалим их
train.dropna(inplace = True)

In [ ]:
train.isnull().sum()

In [ ]:
# применим one-hot encoding к переменной Sex (пол) с помощью метода .get_dummies()
pd.get_dummies(train['Sex']).head(3)

In [ ]:
# удалим первый столбец, он избыточен
sex = pd.get_dummies(train['Sex'], drop_first = True)
sex.head(3)

In [ ]:
# Сделаем то же самое для переменных Pclass и Embarked.
embarked = pd.get_dummies(train['Embarked'],
drop_first = True)
pclass = pd.get_dummies(train['Pclass'], drop_first =
True)

In [42]:
train = pd.concat([train, pclass, sex, embarked],
axis = 1)

In [ ]:
# Отбор признаков
# применим функцию drop() к соответствующим столбцам
train.drop(['PassengerId', 'Pclass', 'Name', 'Sex',
'Ticket', 'Embarked'], axis = 1, inplace = True)
train.head(3)

Нормализация данных

In [ ]:
# импортируем класс StandardScaler
from sklearn.preprocessing import StandardScaler
# создадим объект этого класса
scaler = StandardScaler()
# выберем те столбцы, которые мы хотим масштабировать
cols_to_scale = ['Age', 'Fare']
# рассчитаем среднее арифметическое и СКО для масштабирования данных
scaler.fit(train[cols_to_scale])

# применим их
train[cols_to_scale] = scaler.transform(train[cols_to_scale])
# посмотрим на результат
train.head(3)

In [ ]:
train.columns

Преобразуем эти переменные в тип str через функцию map().

In [49]:
train.columns = train.columns.map(str)

Шаг 2. Разделение обучающей выборки на
признаки и целевую переменную

In [52]:
# поместим в X_train все кроме столбца Survived
X_train = train.drop('Survived', axis = 1)
# столбец 'Survived' станет нашей целевой переменной (y_train)
y_train = train['Survived']
X_train.head(3)

        Age  SibSp  Parch      Fare  2  3  male  Q  S  2  3  male  Q  S
0 -0.590495      1      0 -0.500240  0  1     1  0  1  0  1     1  0  1
1  0.643971      1      0  0.788947  0  0     0  0  0  0  0     0  0  0
2 -0.281878      0      0 -0.486650  0  1     0  0  1  0  1     0  0  1

Шаг 3. Обучение модели логистической
регрессии

In [ ]:
# импортируем логистическую регрессию из модуля linear_model библиотеки sklearn
from sklearn.linear_model import LogisticRegression
# создадим объект этого класса и запишем его в переменную model
model = LogisticRegression()
# обучим нашу модель
model.fit(X_train, y_train)

In [56]:
# сделаем предсказание класса на обучающей выборке
y_pred_train = model.predict(X_train)

In [58]:
# построим матрицу ошибок
from sklearn.metrics import confusion_matrix
# передадим ей фактические и прогнозные значения
conf_matrix = confusion_matrix(y_train, y_pred_train)
# преобразуем в датафрейм
conf_matrix_df = pd.DataFrame(conf_matrix)
conf_matrix_df
conf_matrix_labels = pd.DataFrame(conf_matrix, columns =
['Прогноз погиб', 'Прогноз выжил'], index = ['Факт погиб', 'Факт выжил'])
conf_matrix_labels

            Прогноз погиб  Прогноз выжил
Факт погиб            477             72
Факт выжил            102            238

In [ ]:
# рассчитаем метрику accuracy вручную
round((478 + 237)/(478 + 237 + 71 + 103), 3)

In [60]:
# импортируем метрику accuracy из sklearn
from sklearn.metrics import accuracy_score
# так же передадим ей фактические и прогнозные значения
model_accuracy = accuracy_score(y_train, y_pred_train)
# округлим до трех знаков после запятой
round(model_accuracy, 3)

0.804

Шаг 4. Построение прогноза на тестовых
данных

In [ ]:
test.info()

In [67]:
# для начала дадим датасету привычное название X_test
X_test = test

# заполним пропуски в переменных Age и Fare средним арифметическим
X_test['Age'].fillna(test['Age'].mean(), inplace =
True)
X_test['Fare'].fillna(test['Fare'].mean(), inplace =
True)

In [68]:
# выполним one-hot encoding категориальных переменных
sex = pd.get_dummies(X_test['Sex'], drop_first =
True)
embarked = pd.get_dummies(X_test['Embarked'],
drop_first = True)
pclass = pd.get_dummies(X_test['Pclass'], drop_first
= True)

In [ ]:
# присоединим новые столбцы к исходному датафрейму
X_test = pd.concat([test, pclass, sex, embarked],
axis = 1)

# и удалим данные, которые теперь не нужны
X_test.drop(['PassengerId', 'Pclass', 'Name', 'Sex',
'Cabin', 'Ticket', 'Embarked'], axis = 1, inplace =
True)

# посмотрим на результат
X_test.head(3)

In [ ]:
# применим среднее арифметическое и СКО обучающей выборки для масштабирования тестовых данных
X_test[cols_to_scale] = scaler.transform(X_test[cols_to_scale])
X_test.head(3)

Остается превратить название столбцов в строки.

In [81]:
X_test.columns = X_test.columns.map(str)

И сделать прогноз на тестовой выборке

In [ ]:
y_pred_test = model.predict(X_test)

In [ ]:
y_pred_test[:10]

Этап 4. Сохранение результата в
новом файле на сервере

In [ ]:
# файл с примером можно загрузить не с локального компьютера, а из Интернета
url = 'https://www.dmitrymakarov.ru/wp-content/uploads/2021/11/titanic_example.csv'
# просто поместим его url в функцию read_csv()
example = pd.read_csv(url)
example.head(3)

In [ ]:
# возьмем индекс пассажиров из столбца PassengerId тестовой выборки
ids = test['PassengerId']
# создадим датафрейм из словаря, в котором
# первая пара ключа и значения - это id пассажира, вторая - прогноз "на тесте"
result = pd.DataFrame({'PassengerId': ids,'Survived': y_pred_test})
# посмотрим, что получилось
result.head()

In [85]:
# создадим новый файл result.csv с помощью функции to_csv(), удалив при этом индекс
result.to_csv('result.csv', index = False)

# файл будет сохранен в 'Сессионном хранилище' и, если все пройдет успешно, выведем следующий текст:
print('Файл успешно сохранился в сессионное хранилище!')

NameError: ignored